{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
    <body>
    <main>
        <section class="sign-in position-relative">
            <div class="sign-in__overlay position-absolute top-50 start-50 translate-middle bg-white p-4 rounded">
                <div class="text-center">
                    <h1>Logowanie</h1>
                    {% for flash in app.flashes('info') %}
                        <div class="alert alert-info my-2">
                            {{ flash }}
                        </div>
                    {% endfor %}
                </div>
                <form action="{{ path('login_page') }}" name="login_form" class="mt-3" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="_username" value="{{ last_username }}">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Hasło"
                               name="_password">
                        <label for="floatingPassword">Hasło</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" name="_remember_me" type="checkbox" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">
                            Zapamiętaj mnie
                        </label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/dashboard"/>
                    {% if authentication_error %}
                        <div id="login_error"
                             class="mt-2 mb-1 text-danger text-center">{{ authentication_error.messageKey|trans(authentication_error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if inactive_account_error %}
                        <div class="alert alert-danger mb-1" role="alert">
                            <div class="text-center">
                                <p class="lead text-white"><i class="fa-solid fa-circle-exclamation"></i> Błędy:</p>
                                <p class="text-white">{{ inactive_account_error }}</p>
                                <p>Kliknij <a href="{{ path('resend_activation_email_page') }}">tutaj</a>, aby wysłać
                                    ponownie wiadomość email z linkiem aktywacyjnym.</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if password_reset_error %}
                        <div class="alert alert-danger mb-1" role="alert">
                            <div class="text-center">
                                <p class="lead text-white"><i class="fa-solid fa-circle-exclamation"></i> Błędy:</p>
                                <p class="text-white">{{ password_reset_error }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-grid">
                        <button id="login_form_submit" type="submit" class="btn btn-primary mt-1">Zaloguj się <i
                                    class="fa-solid fa-arrow-right-to-bracket"></i></button>
                    </div>
                </form>
                <div class="grid text-center">
                    <a href="{{ path('reset_password_page') }}" class="mt-2">Nie pamiętam hasła</a>
                    <a href="{{ path('register_page') }}" class="mt-2">Nie masz jeszcze konta? Zarejestruj się!</a>
                </div>
            </div>
        </section>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
