{% extends 'base.html.twig' %}

{% block title %}Strona startowa{% endblock %}

{% block body %}
    <body class="position-relative">
    <header>
        <nav id="frontpage-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand fst-italic" href="#">MediMinder <i class="fa-solid fa-pills"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarColor01">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Jak to dziaa?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">O autorze</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://dev.michaelslabikovsky.pl/portfolio" class="nav-link" target="_blank">Pozostae
                                projekty
                                autora</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row">
                        <a href="{{ path('register_page') }}" class="btn btn-outline-light">Za贸偶 konto</a>
                        <a href="{{ path('login_page') }}" class="btn btn-info fw-bold">Zaloguj si</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main data-bs-spy="scroll" data-bs-target="#frontpage-navbar">
        <section class="welcome position-relative">
            <div
                    class="welcome__overlay position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-75  p-3 text-center">
                <h1 class="text-uppercase text-light">Witaj! ぉ</h1>
                <p class="text-info lead fs-3">Czy zdarza Ci si zapomnie przyj lek贸w bd藕 suplement贸w, kt贸re musisz
                    bra
                    regularnie? </p>
                <p class="text-secondary fs-5">Albo zbyt p贸藕no przypomnie sobie o koczcych si zapasach? </p>
                <p class="text-danger fs-5">A mo偶e nie jeste pewny(-a) czy dany lek/suplement ju偶 za偶ye(-a) i
                    obawiasz, 偶e przyjmiesz zbyt du偶 dawk? </p>
            </div>
        </section>
        <section class="shine mt-2">
            <div class="container text-center">
                <h2>Jeli odpowiedziae(-a) <span class="bg-dark text-bg-dark px-2">TAK</span> na
                    co
                    najmniej
                    jedno z
                    pyta...</h2>
                <div class="row py-3">
                    <div class="shine__its-for-u col-lg-6">
                        <p class="text-info">Ta strona jest wanie dla <span
                                    class="bg-warning text-bg-dark">CIEBIE!</span>
                            
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="{{ asset('build/img/success.jpg') }}" class="img-fluid rounded thumb-up"
                             alt="thumb-up">
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="features bg-secondary py-3">
            <div class="container">
                <h2 class="text-center text-light">Oto jak Ci pomog</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4 pt-2">
                    <div class="col">
                        <div class="card features__card-row-1 py-3">
                            <img src="{{ asset('build/img/arrow-right-to-bracket-solid.svg') }}"
                                 class="card-img-top features__icon" alt="fa-arrow-right-to-bracket">
                            <div class="card-body">
                                <h5 class="card-title text-center">Utw贸rz konto lub zaloguj si</h5>
                                <p class="card-text lead text-success">Utworzenie konta jest bardzo proste! <i
                                            class="fa-solid fa-thumbs-up"></i> Wystarczy, 偶e podasz swoje imi, adres
                                    e-mail
                                    i haso, a w cigu minuty Twoje konto bdzie gotowe do u偶ycia <i
                                            class="fa-solid fa-face-smile"></i>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card features__card-row-1 py-3">
                            <img src="{{ asset('build/img/pills-solid.svg') }}" class="card-img-top features__icon"
                                 alt="pills-solid">
                            <div class="card-body">
                                <h5 class="card-title text-center">Dodaj lek lub suplement</h5>
                                <p class="card-text lead text-success">Podaj nazw leku/suplementu, jego ilo,
                                    dawkowanie i odstpy czasowe, w kt贸rych masz przyjmowa zalecan dawk. Od teraz
                                    program bdzie za Ciebie monitorowa czy
                                    dany lek/suplement za偶ywasz zgodnie z zaleceniami <i class="fa-solid fa-eye"></i>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card features__card-row-2 py-3">
                            <img src="{{ asset('build/img/message-solid.svg') }}" class="card-img-top features__icon"
                                 alt="message-solid">
                            <div class="card-body">
                                <h5 class="card-title text-center">Czekaj na wiadomo SMS lub na Messengerze od
                                    chatbota</h5>
                                <p class="card-text text-success lead">Specjalny chatbot <i
                                            class="fa-solid fa-robot"></i> bdzie Ci na bie偶co przypomina o dawce leku
                                    lub
                                    suplementu oraz poinformuje Ci o stanie zapas贸w <i class="fa-solid fa-box"></i>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card features__card-row-2 py-3">
                            <img src="{{ asset('build/img/bell-solid.svg') }}" class="card-img-top features__icon"
                                 alt="bell-solid">
                            <div class="card-body">
                                <h5 class="card-title text-center">Kocz Ci si zapasy?</h5>
                                <p class="card-text text-success lead">Chatbot r贸wnie偶 Ci o tym przypomni, dziki czemu
                                    tym razem uzupenisz je na czas <i class="fa-regular fa-clock"></i>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="call-to-action py-3 position-relative">
            <div class="container text-center position-absolute top-50 start-50 translate-middle">
                <h2 class="text-white">Za贸偶 konto ju偶 teraz!</h2>
                <a href="{{ path('register_page') }}" class="btn btn-info">Zarejestruj si <i
                            class="fa-solid fa-user-plus"></i></a>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid bg-primary pt-2 mt-5 position-absolute bottom-0">
            <div class="row">
                <div class="col">
                    <h6 class="text-light text-center py-2">Copyright 漏 2022 <a href="https://dev.michaelslabikovsky.pl"
                                                                                class="text-light" target="_blank">Rabbit
                            IT Michael Slabikovsky</a></h6>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
