{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <body>
    <main>
        <section class="sign-up position-relative">
            <div class="sign-up__overlay position-absolute top-50 start-50 translate-middle text-center bg-white p-4 rounded">
                <h1>Rejestracja</h1>
                <a href="{{ path('front_page') }}" class="mb-2">Powrót do strony głównej</a>
                {{ form_start(form, {'attr': {'class': 'mt-2', 'novalidate': 'novalidate'}}) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Imię'}}) }}
                    <label for="register_form_name">Imię</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    <label for="register_form_email">Email</label>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group input-group--prefix-number">
                        <span class="input-group-text">+</span>
                        {{ form_widget(form.tel_prefix, {'attr': {'class': 'form-select', 'aria-label': 'Prefix'}}) }}
                    </div>
                    {{ form_widget(form.tel, {'attr': {'class': 'form-control rounded-start', 'placeholder': 'Nr tel (opcjonalnie)'}, 'required': false}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Hasło'}}) }}
                    <label for="register_form_password_first">Hasło</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Potwierdź hasło'}}) }}
                    <label for="register_form_password_second">Potwierdź hasło</label>
                </div>
                {% if not form.vars.valid %}
                    <div class="alert alert-danger" role="alert">
                        <div>
                            <p class="lead text-white"><i class="fa-solid fa-circle-exclamation"></i> Błędy:</p>
                            <ul class="list-unstyled">
                                {% for error in form.vars.errors.form.getErrors(true) %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="d-grid">
                    {{ form_widget(form.save) }}
                </div>
                {{ form_end(form) }}
                <div class="grid">
                    <a href="{{ path('login_page') }}" class="mt-2">Masz już konto? Zaloguj się!</a>
                </div>
            </div>
        </section>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
