{% extends 'base.html.twig' %}

{% block title %}Nie pamiętam hasła{% endblock %}

{% block body %}
    <body>
    <main>
        <section class="sign-in position-relative">
            <div class="sign-in__overlay position-absolute top-50 start-50 translate-middle text-center bg-white p-4 rounded">
                <h1>Wpisz adres email konta, do którego chcesz odzyskać dostęp</h1>
                <div class="d-grid">
                    <a href="{{ path('login_page') }}">Wstecz</a>
                    <a href="{{ path('front_page') }}" class="mt-2">Powrót do strony głównej</a>
                </div>
                <form action="{{ path('reset_password_submit') }}" name="reset_password_form"
                      class="mt-3" method="post">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="email">
                        <label for="floatingInput">Email</label>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger mt-2 mb-1" role="alert">
                            <div>
                                <p class="lead text-white"><i class="fa-solid fa-circle-exclamation"></i> Błędy:</p>
                                <p class="text-white">{{ error }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-grid mt-2">
                        <button id="submit" type="submit" class="btn btn-primary mt-2">
                            Resetuj hasło <i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}